html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  height: 100vh;
  background: #fff url("../img/nav_bg.jpg") center center/cover no-repeat;
}

.wrap-code {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 35px;
  min-width: 980px;
  background: rgba(255, 255, 255, 0.3);
}
.wrap-code .row {
  display: inline-block;
  padding: 4px;
  overflow: hidden;
}
.wrap-code .row .button {
  position: relative;
  float: left;
  margin: 0 4px;
  width: 78px;
  height: 60px;
  font: 26px/54px "Helvetica Neue", "Microsoft YaHei";
  text-align: center;
  color: #CFCFCF;
  cursor: pointer;
  background: url("../img/nav_btn.png") center center/cover no-repeat;
}
.wrap-code .row .button .favicon {
  -moz-border-radius: 40%;
  -webkit-border-radius: 40%;
  border-radius: 40%;
  position: absolute;
  left: 8px;
  bottom: 12px;
  width: 16px;
  height: 16px;
  background: #CFCFCF;
}
.wrap-code .row .button .menu {
  -moz-transform: translateY(-56%);
  -ms-transform: translateY(-56%);
  -webkit-transform: translateY(-56%);
  transform: translateY(-56%);
  display: none;
  position: absolute;
  top: 50%;
  right: 4px;
}
.wrap-code .row .button .menu .item {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
  margin: 2px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font: 14px Tahoma;
  background: #838383;
}
.wrap-code .row .button .menu .item:hover {
  color: #000;
  background: red;
}
.wrap-code .row .button:hover {
  top: 4px;
}
.wrap-code .row .button:hover .menu {
  display: block;
}
.wrap-code .row-2 {
  margin-left: 40px;
}
.wrap-code .row-3 {
  margin-left: 60px;
}
.wrap-code .row-4 {
  margin-left: 100px;
}
