@charset "UTF-8";
/* line 5, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: FredokaOne;
  src: url("../font/FredokaOne.ttf");
}
/* public */
/* line 22, sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 27, sass/style.scss */
body {
  font: 12px -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "微软雅黑", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #27292e;
}

/* line 32, sass/style.scss */
.btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #5e6165;
  text-align: center;
  color: #84898e;
}

/* line 40, sass/style.scss */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* line 48, sass/style.scss */
.m-groove {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 4px;
  width: 100%;
  height: 6px;
  background: rgba(232, 103, 107, 0.3);
}
/* line 55, sass/style.scss */
.m-groove .u-value {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  -webkit-transition: all, 0.8s;
  transition: all, 0.8s;
  display: block;
  width: 50%;
  height: 100%;
  background: #e8676b;
}

/* header */
/* line 67, sass/style.scss */
.g-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 40px;
  padding: 10px 0;
  min-height: 70px;
}
/* line 73, sass/style.scss */
.g-header .u-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 515px;
  background: url("../img/banner_bg.jpg") center center/cover no-repeat;
}
/* line 80, sass/style.scss */
.g-header .u-banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 88, sass/style.scss */
.g-header .m-nav-bar {
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 18px 0;
}
/* line 96, sass/style.scss */
.g-header .m-nav-bar .g-inner {
  overflow: hidden;
  *zoom: 1;
  max-width: 1550px;
  margin: 0 auto;
}
/* line 100, sass/style.scss */
.g-header .m-nav-bar .g-inner .u-logo {
  float: left;
  padding: 0 15px 3px;
  font: bolder 30px/32px FredokaOne;
  color: rgba(255, 255, 255, 0.7);
}
/* line 105, sass/style.scss */
.g-header .m-nav-bar .g-inner .u-logo .s-color {
  color: #e8676b;
  margin-right: 2px;
}
/* line 110, sass/style.scss */
.g-header .m-nav-bar .g-inner .u-menu {
  float: right;
}
/* line 112, sass/style.scss */
.g-header .m-nav-bar .g-inner .u-menu .item {
  float: left;
  margin-left: 34px;
}
/* line 115, sass/style.scss */
.g-header .m-nav-bar .g-inner .u-menu .item .link {
  display: block;
  line-height: 32px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}
/* line 121, sass/style.scss */
.g-header .m-nav-bar .g-inner .u-menu .item .link::after {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
  display: block;
  content: '';
  width: 0;
  height: 3px;
}
/* line 131, sass/style.scss */
.g-header .m-nav-bar .g-inner .u-menu .item .link:hover::after, .g-header .m-nav-bar .g-inner .u-menu .item .link.active::after {
  width: 100%;
  display: block;
  background: #e8676b;
}
/* line 141, sass/style.scss */
.g-header .m-nav-bar.z-fixed {
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  position: fixed;
  padding: 10px 0;
  background: #27292e;
}

/* line 150, sass/style.scss */
.g-main {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  position: relative;
  padding: 40px 0;
  z-index: 2;
}
/* line 155, sass/style.scss */
.g-main .g-wrap {
  max-width: 930px;
  margin: 0 auto;
  padding-top: 70px;
}
/* line 159, sass/style.scss */
.g-main .g-wrap .u-title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 34px;
  color: #84898e;
}
/* line 167, sass/style.scss */
.g-main .m-info-card.g-wrap {
  padding-top: 0;
}
/* line 170, sass/style.scss */
.g-main .m-info-card .g-float {
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 56px 50px 0;
  background: #35363b;
}
/* line 175, sass/style.scss */
.g-main .m-info-card .g-float .u-avatar {
  float: left;
}
/* line 178, sass/style.scss */
.g-main .m-info-card .g-float .u-text {
  float: left;
  width: 465px;
  margin-left: 61px;
}
/* line 182, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-welcome {
  position: relative;
  max-width: 50px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #27292e;
  background: #e8676b;
}
/* line 190, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-welcome::after {
  content: '';
  position: absolute;
  left: 5px;
  bottom: -8px;
  border: 8px solid transparent;
  border-top: 0;
  border-left-color: #e8676b;
}
/* line 200, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-me {
  margin-top: 20px;
  line-height: 50px;
  font-size: 20px;
  color: #d4d4d5;
}
/* line 205, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-me .u-name {
  margin-left: 8px;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}
/* line 212, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-post {
  font-size: 18px;
  color: #d4d4d5;
}
/* line 216, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-line {
  margin: 25px 0;
  border-top: 1px solid #47494c;
}
/* line 221, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-info .title,
.g-main .m-info-card .g-float .u-text .u-info .define {
  float: left;
  margin-bottom: 20px;
}
/* line 226, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-info .title {
  width: 30%;
  font-weight: bold;
  color: #d4d4d5;
}
/* line 231, sass/style.scss */
.g-main .m-info-card .g-float .u-text .u-info .define {
  width: 70%;
  font-size: 14px;
  color: #84898e;
}
/* line 239, sass/style.scss */
.g-main .m-info-card .u-social {
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  text-align: center;
  background: #e8676b;
}
/* line 244, sass/style.scss */
.g-main .m-info-card .u-social .list {
  display: inline-block;
  padding: 18px 0;
  text-align: center;
  vertical-align: middle;
}
/* line 249, sass/style.scss */
.g-main .m-info-card .u-social .list .item {
  float: left;
  margin: 0 20px;
}
/* line 254, sass/style.scss */
.g-main .m-info-card .u-social .link {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background, 0.5s;
  -o-transition: background, 0.5s;
  -webkit-transition: background, 0.5s;
  transition: background, 0.5s;
  display: block;
  padding: 12px;
  height: 24px;
  font-size: 0;
  text-align: center;
}
/* line 262, sass/style.scss */
.g-main .m-info-card .u-social .link .icon {
  width: 24px;
  height: 24px;
  fill: #27292e;
}
/* line 267, sass/style.scss */
.g-main .m-info-card .u-social .link:hover {
  background: rgba(0, 0, 0, 0.15);
}
/* line 273, sass/style.scss */
.g-main .m-info-card .u-download {
  margin-bottom: 25px;
  text-align: center;
}
/* line 276, sass/style.scss */
.g-main .m-info-card .u-download .u-btn-download {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  padding: 20px 50px;
  font-weight: bold;
}
/* line 280, sass/style.scss */
.g-main .m-info-card .u-download .u-btn-download:hover {
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}
/* line 285, sass/style.scss */
.g-main .m-info-card .u-intro {
  text-align: center;
  font: 20px/1.8 '微软雅黑';
  color: #d4d4d5;
}
/* line 292, sass/style.scss */
.g-main .m-skills .u-content {
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  padding: 0 50px 50px;
  background: #35363b;
}
/* line 296, sass/style.scss */
.g-main .m-skills .u-content .list {
  overflow: hidden;
}
/* line 298, sass/style.scss */
.g-main .m-skills .u-content .list .item {
  float: left;
  margin-top: 40px;
  width: 48%;
  font-size: 16px;
  color: #84898e;
}
/* line 304, sass/style.scss */
.g-main .m-skills .u-content .list .item:nth-child(odd) {
  margin-right: 4%;
}
/* line 312, sass/style.scss */
.g-main .m-gallery .u-menu {
  margin: 0 auto 30px;
  max-width: 240px;
}
/* line 315, sass/style.scss */
.g-main .m-gallery .u-menu .list {
  overflow: hidden;
  padding-bottom: 6px;
}
/* line 318, sass/style.scss */
.g-main .m-gallery .u-menu .list .item {
  float: left;
  margin-right: 30px;
  color: #84898e;
  cursor: pointer;
}
/* line 323, sass/style.scss */
.g-main .m-gallery .u-menu .list .item:last-child {
  margin-right: 0;
}
/* line 328, sass/style.scss */
.g-main .m-gallery .u-menu .z-sel-1 {
  width: 35px;
}
/* line 331, sass/style.scss */
.g-main .m-gallery .u-menu .z-sel-2 {
  margin-left: 40px;
  width: 116px;
}
/* line 335, sass/style.scss */
.g-main .m-gallery .u-menu .z-sel-3 {
  margin-left: 160px;
  width: 80px;
}
/* line 340, sass/style.scss */
.g-main .m-gallery .u-thumb {
  position: relative;
  margin: 10px;
  min-height: 570px;
}
/* line 344, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo {
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  position: absolute;
  cursor: pointer;
}
/* line 349, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info {
  position: absolute;
  left: 32px;
  bottom: 20px;
  text-transform: uppercase;
}
/* line 354, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info .u-caption {
  line-height: 64px;
  font-size: 22px;
  color: #fff;
}
/* line 359, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info .u-type {
  color: #84898e;
}
/* line 362, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation {
  -moz-transition: all, ease-out, 0.2s;
  -o-transition: all, ease-out, 0.2s;
  -webkit-transition: all, ease-out, 0.2s;
  transition: all, ease-out, 0.2s;
  height: 0;
  overflow: hidden;
}
/* line 366, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation .item {
  -moz-transition: top, ease, 0.1s;
  -o-transition: top, ease, 0.1s;
  -webkit-transition: top, ease, 0.1s;
  transition: top, ease, 0.1s;
  position: relative;
  top: 80px;
  margin-right: 12px;
  padding: 13px;
  width: 24px;
  height: 24px;
}
/* line 374, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation .item .icon {
  width: 24px;
  height: 24px;
  fill: #e8676b;
}
/* line 379, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation .item.btn-up-1 {
  -moz-transition-delay: 0.08s;
  -o-transition-delay: 0.08s;
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}
/* line 382, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation .item.btn-up-2 {
  -moz-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}
/* line 385, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation .item.btn-up-3 {
  -moz-transition-delay: 0.16s;
  -o-transition-delay: 0.16s;
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
/* line 391, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}
/* line 400, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo:hover .u-operation {
  height: auto;
  padding-top: 20px;
}
/* line 403, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo:hover .u-operation .item {
  top: 0;
}
/* line 408, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo.z-item-2, .g-main .m-gallery .u-thumb .m-photo.z-item-3 {
  min-width: 290px;
  min-height: 275px;
}
/* line 412, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo.z-item-2 .u-info, .g-main .m-gallery .u-thumb .m-photo.z-item-3 .u-info {
  left: 16px;
}
/* line 414, sass/style.scss */
.g-main .m-gallery .u-thumb .m-photo.z-item-2 .u-info .u-caption, .g-main .m-gallery .u-thumb .m-photo.z-item-3 .u-info .u-caption {
  font-size: 18px;
}
/* line 420, sass/style.scss */
.g-main .m-gallery .u-thumb .z-item-1 {
  min-width: 600px;
  min-height: 570px;
  background: url("../img/gallery_01.jpg") center center/cover no-repeat;
}
/* line 425, sass/style.scss */
.g-main .m-gallery .u-thumb .z-item-2 {
  top: 0;
  right: 0;
  background: url("../img/gallery_02_s.jpg") center center/cover no-repeat;
}
/* line 430, sass/style.scss */
.g-main .m-gallery .u-thumb .z-item-3 {
  right: 0;
  bottom: 0;
  background: url("../img/gallery_03_s.jpg") center center/cover no-repeat;
}
