@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: FredokaOne;
  src: url("../font/FredokaOne.ttf");
}
/* public */
a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 12px -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "微软雅黑", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #27292e;
}

.btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #5e6165;
  text-align: center;
  color: #84898e;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.m-groove {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 4px;
  width: 100%;
  height: 6px;
  background: rgba(232, 103, 107, 0.3);
}
.m-groove .u-value {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  -webkit-transition: all, 0.8s;
  transition: all, 0.8s;
  position: relative;
  right: 0;
  display: block;
  width: 50%;
  height: 100%;
  background: #e8676b;
}
.m-groove .u-value.u-skill {
  right: 100%;
}

/* header */
.g-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  -webkit-transition: all, 0.8s;
  transition: all, 0.8s;
  position: relative;
  margin-bottom: 40px;
  padding: 10px 0;
  min-height: 70px;
}
.g-header .u-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 515px;
  background: url("../img/banner_bg.jpg") center center/cover no-repeat;
}
.g-header .u-banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.g-header .m-nav-bar {
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 18px 0;
  color: rgba(255, 255, 255, 0.7);
}
.g-header .m-nav-bar .g-inner {
  *zoom: 1;
  max-width: 1550px;
  margin: 0 auto;
}
.g-header .m-nav-bar .g-inner:after {
  content: "";
  display: table;
  clear: both;
}
.g-header .m-nav-bar .g-inner .u-logo {
  float: left;
  padding: 0 15px 3px;
  font: 30px/32px FredokaOne;
  color: rgba(255, 255, 255, 0.7);
}
.g-header .m-nav-bar .g-inner .u-logo .s-color {
  color: #e8676b;
  margin-right: 2px;
}
.g-header .m-nav-bar .g-inner .u-menu {
  float: right;
}
.g-header .m-nav-bar .g-inner .u-menu .item {
  float: left;
  position: relative;
  margin-left: 34px;
}
.g-header .m-nav-bar .g-inner .u-menu .item .link {
  display: block;
  line-height: 32px;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
}
.g-header .m-nav-bar .g-inner .u-menu .item .link::after {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
  display: block;
  content: '';
  width: 0;
  height: 3px;
}
.g-header .m-nav-bar .g-inner .u-menu .item .link:hover::after, .g-header .m-nav-bar .g-inner .u-menu .item .link.hover::after {
  width: 100%;
  display: block;
  background: #e8676b;
}
.g-header .m-nav-bar .g-inner .u-menu .item .u-submenu {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 100%;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0;
  background: #212026;
}
.g-header .m-nav-bar .g-inner .u-menu .item .u-submenu .link-1 {
  display: block;
  padding: 10px 15px;
  text-align: right;
}
.g-header .m-nav-bar .g-inner .u-menu .item .u-submenu .link-1:hover {
  background: #2c2b33;
}
.g-header .m-nav-bar .g-inner .u-menu .item.active .u-submenu {
  visibility: visible;
  right: 0;
  opacity: 1;
}
.g-header .m-nav-bar.z-fixed {
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  position: fixed;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.9);
  background: #27292e;
}

/* loading animation */
.m-loading {
  -moz-transition: opacity 0.4s ease, height 0.01s ease 0.4s;
  -o-transition: opacity 0.4s ease, height 0.01s ease 0.4s;
  -webkit-transition: opacity 0.4s ease, height 0.01s ease;
  -webkit-transition-delay: 0s, 0.4s;
  transition: opacity 0.4s ease, height 0.01s ease 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.m-loading::before, .m-loading::after {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: loading 1.6s linear infinite;
  -webkit-animation: loading 1.6s linear infinite;
  animation: loading 1.6s linear infinite;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  background: #555;
}
.m-loading::after {
  -moz-animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.m-loading.complete {
  opacity: 0;
  height: 0;
}
@-moz-keyframes loading {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 70px;
    height: 70px;
    opacity: 0;
  }
}
@-webkit-keyframes loading {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 70px;
    height: 70px;
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 70px;
    height: 70px;
    opacity: 0;
  }
}
/* main */
.g-main {
  position: relative;
  padding: 40px 0 200px;
  z-index: 1;
}
.g-main .g-wrap {
  max-width: 930px;
  margin: 0 auto;
  padding-top: 70px;
}
.g-main .g-wrap.z-up {
  -moz-transition: top 0.2s linear, opacity 0.1s ease;
  -o-transition: top 0.2s linear, opacity 0.1s ease;
  -webkit-transition: top 0.2s linear, opacity 0.1s ease;
  transition: top 0.2s linear, opacity 0.1s ease;
  position: relative;
  top: 0;
  opacity: 1;
}
.g-main .g-wrap.z-down {
  top: 150px;
  opacity: 0;
}
.g-main .g-wrap .u-title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 34px;
  color: #84898e;
}
.g-main .m-about.g-wrap {
  padding-top: 0;
}
.g-main .m-about .g-float {
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 56px 50px 20px;
  background: #35363b;
}
.g-main .m-about .g-float .u-avatar {
  float: left;
}
.g-main .m-about .g-float .u-text {
  float: left;
  width: 465px;
  margin-left: 61px;
}
.g-main .m-about .g-float .u-text .u-welcome {
  display: inline-block;
  position: relative;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #27292e;
  background: #e8676b;
}
.g-main .m-about .g-float .u-text .u-welcome::after {
  content: '';
  position: absolute;
  left: 5px;
  bottom: -8px;
  border: 8px solid transparent;
  border-top: 0;
  border-left-color: #e8676b;
}
.g-main .m-about .g-float .u-text .u-me {
  margin-top: 20px;
  line-height: 50px;
  font-size: 20px;
  color: #d4d4d5;
}
.g-main .m-about .g-float .u-text .u-me .u-name {
  margin-left: 8px;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}
.g-main .m-about .g-float .u-text .u-post {
  font-size: 18px;
  color: #d4d4d5;
}
.g-main .m-about .g-float .u-text .u-line {
  margin: 20px 0;
  border-top: 1px solid #47494c;
}
.g-main .m-about .g-float .u-text .u-info .title,
.g-main .m-about .g-float .u-text .u-info .define {
  float: left;
  margin-bottom: 20px;
}
.g-main .m-about .g-float .u-text .u-info .title {
  width: 30%;
  font-weight: bold;
  color: #d4d4d5;
}
.g-main .m-about .g-float .u-text .u-info .define {
  width: 70%;
  font-size: 14px;
  color: #84898e;
}
.g-main .m-about .u-social {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  text-align: center;
  background: #e8676b;
}
.g-main .m-about .u-social .list {
  display: inline-block;
  padding: 18px 0;
  text-align: center;
  vertical-align: middle;
}
.g-main .m-about .u-social .list .item {
  float: left;
  margin: 0 20px;
}
.g-main .m-about .u-social .link {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background, 0.5s;
  -o-transition: background, 0.5s;
  -webkit-transition: background, 0.5s;
  transition: background, 0.5s;
  display: block;
  padding: 12px;
  height: 24px;
  font-size: 0;
  text-align: center;
}
.g-main .m-about .u-social .link .icon {
  width: 24px;
  height: 24px;
  fill: #27292e;
}
.g-main .m-about .u-social .link:hover {
  background: rgba(0, 0, 0, 0.15);
}
.g-main .m-about .u-download {
  margin-bottom: 25px;
  text-align: center;
}
.g-main .m-about .u-download .u-btn-download {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  padding: 20px 50px;
  font-weight: bold;
}
.g-main .m-about .u-download .u-btn-download:hover {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
.g-main .m-about .u-intro {
  text-align: center;
  font: 20px/1.8 '微软雅黑';
  color: #d4d4d5;
}
.g-main .m-skills .u-content {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  padding: 0 50px 50px;
  background: #35363b;
}
.g-main .m-skills .u-content .list {
  overflow: hidden;
}
.g-main .m-skills .u-content .list .item {
  float: left;
  margin-top: 40px;
  width: 48%;
  font-size: 16px;
  color: #84898e;
}
.g-main .m-skills .u-content .list .item:nth-child(odd) {
  margin-right: 4%;
}
.g-main .m-gallery .u-menu {
  margin: 0 auto 30px;
  max-width: 240px;
}
.g-main .m-gallery .u-menu .list {
  overflow: hidden;
  padding-bottom: 6px;
}
.g-main .m-gallery .u-menu .list .item {
  float: left;
  margin-right: 30px;
  color: #84898e;
  cursor: pointer;
}
.g-main .m-gallery .u-menu .list .item:last-child {
  margin-right: 0;
}
.g-main .m-gallery .u-menu .z-sel-1 {
  width: 35px;
}
.g-main .m-gallery .u-menu .z-sel-2 {
  margin-left: 40px;
  width: 116px;
}
.g-main .m-gallery .u-menu .z-sel-3 {
  margin-left: 160px;
  width: 80px;
}
.g-main .m-gallery .u-thumb {
  position: relative;
  margin: 10px;
  min-height: 570px;
}
.g-main .m-gallery .u-thumb .m-photo {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  position: absolute;
  cursor: pointer;
}
.g-main .m-gallery .u-thumb .m-photo .u-info {
  position: absolute;
  left: 32px;
  bottom: 20px;
  text-transform: uppercase;
}
.g-main .m-gallery .u-thumb .m-photo .u-info .u-caption {
  line-height: 64px;
  font-size: 22px;
  color: #fff;
}
.g-main .m-gallery .u-thumb .m-photo .u-info .u-type {
  color: #84898e;
}
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation {
  -moz-transition: all, linear, 0.2s;
  -o-transition: all, linear, 0.2s;
  -webkit-transition: all, linear, 0.2s;
  transition: all, linear, 0.2s;
  height: 0;
  overflow: hidden;
}
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation .item {
  -moz-transition: top, linear, 0.2s;
  -o-transition: top, linear, 0.2s;
  -webkit-transition: top, linear, 0.2s;
  transition: top, linear, 0.2s;
  position: relative;
  top: 60px;
  margin-right: 12px;
  padding: 13px;
  width: 24px;
  height: 24px;
}
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation .item .icon {
  width: 24px;
  height: 24px;
  fill: #e8676b;
}
.g-main .m-gallery .u-thumb .m-photo .u-info .u-operation .item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.g-main .m-gallery .u-thumb .m-photo::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}
.g-main .m-gallery .u-thumb .m-photo:hover .u-operation {
  height: auto;
  padding-top: 20px;
}
.g-main .m-gallery .u-thumb .m-photo:hover .u-operation .item {
  top: 0;
}
.g-main .m-gallery .u-thumb .m-photo:hover .u-operation .item.btn-up-1 {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.g-main .m-gallery .u-thumb .m-photo:hover .u-operation .item.btn-up-2 {
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.g-main .m-gallery .u-thumb .m-photo:hover .u-operation .item.btn-up-3 {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.g-main .m-gallery .u-thumb .m-photo.z-item-2, .g-main .m-gallery .u-thumb .m-photo.z-item-3 {
  min-width: 290px;
  min-height: 275px;
}
.g-main .m-gallery .u-thumb .m-photo.z-item-2 .u-info, .g-main .m-gallery .u-thumb .m-photo.z-item-3 .u-info {
  left: 16px;
}
.g-main .m-gallery .u-thumb .m-photo.z-item-2 .u-info .u-caption, .g-main .m-gallery .u-thumb .m-photo.z-item-3 .u-info .u-caption {
  font-size: 18px;
}
.g-main .m-gallery .u-thumb .z-item-1 {
  min-width: 600px;
  min-height: 570px;
  background: url("../img/gallery_01.jpg") center center/cover no-repeat;
}
.g-main .m-gallery .u-thumb .z-item-2 {
  top: 0;
  right: 0;
  background: url("../img/gallery_02_s.jpg") center center/cover no-repeat;
}
.g-main .m-gallery .u-thumb .z-item-3 {
  right: 0;
  bottom: 0;
  background: url("../img/gallery_03_s.jpg") center center/cover no-repeat;
}
