@charset "utf-8";
@import 'compass/reset';
@import "compass/css3";
@import "compass/utilities";

$C_VI_MAIN: #e8676b;
$C_VI_DARK_FONT: #d4d4d5;
$C_VI_DARK_FONT_SUB: #84898e;
$C_BG_DARK: #27292e;
$C_BG_DARK_CARD: #35363b;

@mixin pubShadow {
    @include box-shadow(0 3px 6px rgba(0, 0, 0, .4));
}

@font-face {
    font-family: FredokaOne;
    src: url("../font/FredokaOne.ttf");
}

/* public */

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: 12px -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "微软雅黑", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background: $C_BG_DARK;
}

.btn {
    @include border-radius(4px);
    display: inline-block;
    border: 1px solid #5e6165;
    text-align: center;
    color: $C_VI_DARK_FONT_SUB;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.m-groove {
    @include border-radius(2px);
    overflow: hidden;
    margin-top: 4px;
    width: 100%;
    height: 6px;
    background: rgba(232, 103, 107, .3);
    .u-value {
        @include border-radius(2px);
        @include transition(all, .8s);
        position: relative;
        right: 0;
        display: block;
        width: 50%;
        height: 100%;
        background: $C_VI_MAIN;
        &.u-skill {
            right: 100%;
        }
    }
}

/* header */

.g-header {
    @include box-sizing(border-box);
    @include transition(all, .8s);
    position: relative;
    margin-bottom: 40px;
    padding: 10px 0;
    min-height: 70px;
    .u-banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 515px;
        background: url("../img/banner_bg.jpg") center center/cover no-repeat;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
        }
    }
    .m-nav-bar {
        @include transition(all, .4s);
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding: 18px 0;
        color: rgba(255, 255, 255, .7);
        .g-inner {
            @include pie-clearfix;
            max-width: 1550px;
            margin: 0 auto;
            .u-logo {
                float: left;
                padding: 0 15px 3px;
                font: 30px/32px FredokaOne;
                color: rgba(255, 255, 255, .7);
                .s-color {
                    color: $C_VI_MAIN;
                    margin-right: 2px;
                }
            }
            .u-menu {
                float: right;
                .item {
                    float: left;
                    position: relative;
                    margin-left: 34px;
                    .link {
                        display: block;
                        line-height: 32px;
                        font-size: 12px;
                        font-weight: bold;
                        color: inherit;
                        &::after {
                            @include border-radius(10px);
                            @include transition(width, .3s);
                            display: block;
                            content: '';
                            width: 0;
                            height: 3px;
                        }
                        &:hover,
                        &.hover {
                            &::after {
                                width: 100%;
                                display: block;
                                background: $C_VI_MAIN;
                            }
                        }
                    }
                    .u-submenu {
                        @include pubShadow;
                        @include transition(all, .3s);
                        visibility: hidden;
                        position: absolute;
                        top: 100%;
                        right: 100%;
                        padding: 5px 0;
                        white-space: nowrap;
                        opacity: 0;
                        background: #212026;
                        .link-1 {
                            display: block;
                            padding: 10px 15px;
                            text-align: right;
                            &:hover {
                                background: #2c2b33;
                            }
                        }
                    }
                    &.active {
                        .u-submenu {
                            visibility: visible;
                            right: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &.z-fixed {
            @include box-shadow(0 3px 8px rgba(0, 0, 0, .4));
            position: fixed;
            padding: 10px 0;
            color: rgba(255, 255, 255, .9);
            background: $C_BG_DARK;
        }
    }
}

/* loading animation */

.m-loading {
    @include transition(opacity .4s ease, height .01s ease .4s);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: #fff;
    &::before,
    &::after {
        @include border-radius(50%);
        @include animation(loading 1.6s linear infinite);
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 0;
        height: 0;
        background: #555;
    }
    &::after {
        @include animation-delay(-.8s);
    }
    &.complete {
        opacity: 0;
        height: 0;
    }
    @include keyframes(loading) {
        0% {
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            width: 70px;
            height: 70px;
            opacity: 0;
        }
    }
}

/* main */

.g-main {
    position: relative;
    padding: 40px 0 200px;
    z-index: 1;
    .g-wrap {
        max-width: 930px;
        margin: 0 auto;
        padding-top: 70px;
        &.z-up {
            @include transition(top .2s linear, opacity .1s ease);
            position: relative;
            top: 0;
            opacity: 1;
        }
        &.z-down {
            top: 50px;
            opacity: 0;
        }
        .u-title {
            margin-bottom: 24px;
            text-align: center;
            font-size: 34px;
            color: $C_VI_DARK_FONT_SUB;
        }
    }
    .m-about {
        &.g-wrap {
            padding-top: 0;
        }
        .g-float {
            @include box-shadow(0 0 12px rgba(0, 0, 0, .4));
            overflow: hidden;
            padding: 56px 50px 20px;
            background: $C_BG_DARK_CARD;
            .u-avatar {
                float: left;
            }
            .u-text {
                float: left;
                width: 465px;
                margin-left: 61px;
                .u-welcome {
                    display: inline-block;
                    position: relative;
                    padding: 10px;
                    font-weight: bold;
                    text-align: center;
                    color: $C_BG_DARK;
                    background: $C_VI_MAIN;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 5px;
                        bottom: -8px;
                        border: 8px solid transparent;
                        border-top: 0;
                        border-left-color: $C_VI_MAIN;
                    }
                }
                .u-me {
                    margin-top: 20px;
                    line-height: 50px;
                    font-size: 20px;
                    color: $C_VI_DARK_FONT;
                    .u-name {
                        margin-left: 8px;
                        font-size: 30px;
                        font-weight: bold;
                        vertical-align: middle;
                    }
                }
                .u-post {
                    font-size: 18px;
                    color: $C_VI_DARK_FONT;
                }
                .u-line {
                    margin: 20px 0;
                    border-top: 1px solid #47494c;
                }
                .u-info {
                    .title,
                    .define {
                        float: left;
                        margin-bottom: 20px;
                    }
                    .title {
                        width: 30%;
                        font-weight: bold;
                        color: $C_VI_DARK_FONT;
                    }
                    .define {
                        width: 70%;
                        font-size: 14px;
                        color: $C_VI_DARK_FONT_SUB;
                    }
                }
            }
        }
        .u-social {
            @include pubShadow;
            margin-bottom: 30px;
            text-align: center;
            background: $C_VI_MAIN;
            .list {
                display: inline-block;
                padding: 18px 0;
                text-align: center;
                vertical-align: middle;
                .item {
                    float: left;
                    margin: 0 20px;
                }
            }
            .link {
                @include border-radius(50%);
                @include transition(background, .5s);
                display: block;
                padding: 12px;
                height: 24px;
                font-size: 0;
                text-align: center;
                .icon {
                    width: 24px;
                    height: 24px;
                    fill: $C_BG_DARK;
                }
                &:hover {
                    background: rgba(0, 0, 0, .15);
                }
            }

        }
        .u-download {
            margin-bottom: 25px;
            text-align: center;
            .u-btn-download {
                @include transition(all, .5s);
                padding: 20px 50px;
                font-weight: bold;
                &:hover {
                    @include pubShadow;
                }
            }
        }
        .u-intro {
            text-align: center;
            font: 20px/1.8 '微软雅黑';
            color: $C_VI_DARK_FONT;
        }
    }
    .m-skills {
        .u-content {
            @include pubShadow;
            padding: 0 50px 50px;
            background: $C_BG_DARK_CARD;
            .list {
                overflow: hidden;
                .item {
                    float: left;
                    margin-top: 40px;
                    width: 48%;
                    font-size: 16px;
                    color: $C_VI_DARK_FONT_SUB;
                    &:nth-child(odd) {
                        margin-right: 4%;
                    }
                }
            }
        }
    }
    .m-gallery {
        .u-menu {
            margin: 0 auto 30px;
            max-width: 240px;
            .list {
                overflow: hidden;
                padding-bottom: 6px;
                .item {
                    float: left;
                    margin-right: 30px;
                    color: $C_VI_DARK_FONT_SUB;
                    cursor: pointer;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .z-sel-1 {
                width: 35px;
            }
            .z-sel-2 {
                margin-left: 40px;
                width: 116px;
            }
            .z-sel-3 {
                margin-left: 160px;
                width: 80px;
            }
        }
        .u-thumb {
            position: relative;
            min-height: 570px;
            .item {
                @include transition(all 1.5s);
                float: left;
                padding: 0 10px;
                margin-bottom: 20px;
                cursor: pointer;
                .m-photo {
                    @include pubShadow;
                    @include transition(all, .3s);
                    position: relative;
                    .u-info {
                        position: absolute;
                        left: 32px;
                        bottom: 20px;
                        text-transform: uppercase;
                        .u-caption {
                            line-height: 64px;
                            font-size: 22px;
                            color: #fff;
                        }
                        .u-type {
                            color: $C_VI_DARK_FONT_SUB;
                        }
                        .u-operation {
                            @include transition(all, linear, .2s);
                            height: 0;
                            overflow: hidden;
                            .item-1 {
                                @include transition(top, linear, .2s);
                                position: relative;
                                top: 60px;
                                margin-right: 12px;
                                padding: 13px;
                                width: 24px;
                                height: 24px;
                                .icon {
                                    width: 24px;
                                    height: 24px;
                                    fill: $C_VI_MAIN;
                                }
                                &:hover {
                                    background: rgba(255, 255, 255, .1);
                                }
                            }
                        }
                    }
                    &::before {
                        position: absolute;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .2));
                    }
                    &:hover {
                        .u-operation {
                            height: auto;
                            padding-top: 20px;
                            .item-1 {
                                top: 0;
                                &.btn-up-1 {
                                    @include transition-delay(.1s);
                                }
                                &.btn-up-2 {
                                    @include transition-delay(.15s);
                                }
                                &.btn-up-3 {
                                    @include transition-delay(.2s);
                                }
                            }
                        }
                    }
                    &.z-item-2,
                    &.z-item-3 {
                        min-width: 290px;
                        min-height: 275px;
                        .u-info {
                            left: 16px;
                            .u-caption {
                                font-size: 18px;
                            }
                        }
                    }
                }
                .z-item-1 {
                    min-width: 600px;
                    min-height: 570px;
                    background: url("../img/gallery_01.jpg") center center/cover no-repeat;
                }
                .z-item-2 {
                    background: url("../img/gallery_02_s.jpg") center center/cover no-repeat;
                }
                .z-item-3 {
                    background: url("../img/gallery_03_s.jpg") center center/cover no-repeat;
                }
                &.f-hide {
                    width: 0;
                    height: 0;
                    opacity: 0;
                }
            }
        }
    }
    .m-slider {
        .u-content {
            position: relative;
            .u-window {
                @include pubShadow;
                overflow: hidden;
                position: relative;
                min-height: 580px;
                .item {
                    position: absolute;
                    left: 930px;
                    top: 0;
                    width: 100%;
                    max-height: 580px;
                    .img {
                        width: 100%;
                    }
                    &.active {
                        left: 0;
                    }
                }
            }
            .u-prev,
            .u-next {
                @include pubShadow;
                position: absolute;
                top: 20px;
                right: 20px;
                width: 58px;
                height: 58px;
                font: bold 18px/58px '宋体', '微软雅黑';
                text-align: center;
                background: rgba(255, 255, 255, .65);
                &:hover {
                    background: #fff;
                }
            }
            .u-next {
                top: 98px;
            }
        }
    }
    .m-messages {
        .u-content {
            @include pubShadow;
            padding: 25px 50px;
            min-height: 540px;
            background: $C_BG_DARK_CARD;
            .u-messages {
                min-height: 420px;
                .item {
                    @include pie-clearfix;
                    border-bottom: 1px solid #4a4b55;
                    margin-bottom: 10px;
                    min-height: 36px;
                    font: 18px/36px '';
                    word-break: break-all;
                    color: $C_VI_DARK_FONT_SUB;
                    .u-time {
                        float: right;
                        font-size: 14px;
                    }
                }
            }
            .u-form {
                position: relative;
                min-height: 120px;
                font-size: 18px;
                color: $C_VI_DARK_FONT;
                .u-area,
                .u-name {
                    @include box-sizing(border-box);
                    border: 0;
                    resize: unset;
                    font-size: 18px;
                }
                .u-area {
                    width: 100%;
                    height: 5em;
                }
                .u-name {
                    width: 200px;
                }
                .u-send {
                    @include border-radius(3px);
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: 0;
                    width: 100px;
                    height: 2.5em;
                    line-height: 2.5em;
                    text-align: center;
                    cursor: pointer;
                    color: #fff;
                    background: $C_VI_MAIN;
                }
            }
        }
    }
}